%p
  Featuring dialogue from
  = link_to "Shondaland", "https://en.wikipedia.org/wiki/ShondaLand"
  characters, Shonda Ipsum is an open-source project;
  = link_to "contribute here!", "https://github.com/hilarysk/shonda-ipsum"
