.mauve-section
  .main-page-link= link_to "feminist lorem ipsum", "http://hilarysk.com/feminist-lorem-ipsum"
  .credit By Hilary Stohs-Krause
.dark-mauve-section
  %h1.title Shonda Ipsum
  .pink-line

.mauve-section
